{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<div class="example-wrapper">
        <h1>Winkelwagen</h1>
            <table class="table">
                <tr>
                    <th>Naam</th>
                    <th>Categorie</th>
                    <th>Omschrijving</th>
                    <th>Aantal</th>
                    <th>Prijs</th>
                    <th>Totaal Prijs</th>
                </tr>
                {% for product in Products %}
                <tr>
                    <td>
                        {{ product.Product.Naam }}
                    </td>
                    <td>
                        {{ product.Product.categorieid }}
                    </td>
                    <td>
                        {{ product.Product.omschrijving }}
                    </td>
                    <td>
                        {{ product.Aantal }}
                    </td>
                    <td>
                        {{ product.Product.Prijs }}
                    </td>
                    <td>
                        {{ product.Product.Prijs * product.Aantal}}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
                {% endfor %}
            </table>
            {% if Products != null %}
            <div style="display: flex; justify-content:flex-end">
                    <a class="btn btn-secondary" href="{{ path('checkout') }}">Checkout</a>
                </div>
            {% endif %}
</div>
{% endblock %}