<p>Bedrijf: </p>
<p>Locatie: </p>
<p>Datum: {{ "now"|date('Y-m-d H:i:s') }}</p>
<br>
<p>Hallo {{ Naam }}</h3>
<p>Hier is uw bestellijst</p>

<table border="2" style="border-color:black; text-align: center; font-family: Helvetica">
    <tr style="padding:2px;">
        <th>Naam</th>
        <th>Categorie</th>
        <th>Omschrijving</th>
        <th>Aantal</th>
        <th>Prijs</th>
    </tr>
    {% set totalPrice = 0 %}
    {% for product in Products %}
    <tr style="padding:2px; ">
        <td>
            {{ product.Product.Naam }}
        </td>
        <td>
            {{ product.Product.categorieid }}
        </td>
        <td>
            {{ product.Product.omschrijving }}
        </td>
        <td>
            {{ product.Aantal }}
        </td>
        <td>
            {{ product.Product.Prijs }}
        </td>
    </tr>
        {% set totalPrice = totalPrice + (product.Aantal * product.Product.Prijs)|number_format(2, '.', ',') %}
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    {% if totalPrice != null %}
        <tr style="padding:2px; ">
            <td colspan="3"></td>
            <th colspan="2">Totaal prijs : {{ totalPrice }}</th>
        </tr>
    {% endif %}
</table>